<h1>Listado de Productos</h1>

{{#each products}}

    <div class="card">
        <h2 class="subtitle">{{this.title}}</h2>
        <p class="description">Description: {{this.description}}</p>
        <p class="price">Precio: $ {{this.price}}</p>
        <p class="stock">Stock: {{this.stock}}</p>
    </div>

{{/each}}

